<div class="detail-wrapper" *ngIf="item() as i">
  <div class="detail-glass-card">
    <div class="detail-header">
      <div class="main-icon">
        <img [src]="i.item_icon" alt="">
      </div>
      <div class="title-area">
        <span class="role-badge">{{ i.category }}</span>
        <h1>{{ i.item_name }}</h1>
        <p class="gold-price">💰 {{ i.price }} Gold</p>
      </div>
    </div>

    <div class="detail-body">
      <section class="stat-box" *ngIf="i.modifiers">
        <h4 class="label">ATTRIBUTES</h4>
        <div class="mod-pill" *ngFor="let mod of i.modifiers">{{ mod }}</div>
      </section>

      <section class="passive-box" *ngIf="i.unique_passive">
        <h4 class="label">UNIQUE PASSIVE</h4>
        <p class="passive-desc">{{ i.unique_passive }}</p>
      </section>
    </div>
    
    <button routerLink="/items" class="btn-back">← BACK TO SHOP</button>
  </div>
</div>